<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.china.dao.ImageMapper" >
  <resultMap id="BaseResultMap" type="com.china.entity.Image" >
    <id column="imageid" property="imageid" jdbcType="INTEGER" />
    <result column="houseid" property="houseid" jdbcType="INTEGER" />
    <result column="imagenamme" property="imagenamme" jdbcType="VARCHAR" />
    <result column="imageurl" property="imageurl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    imageid, houseid, imagenamme, imageurl
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from image
    where imageid = #{imageid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from image
    where imageid = #{imageid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.china.entity.Image" >
    insert into image (imageid, houseid, imagenamme, 
      imageurl)
    values (#{imageid,jdbcType=INTEGER}, #{houseid,jdbcType=INTEGER}, #{imagenamme,jdbcType=VARCHAR}, 
      #{imageurl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.china.entity.Image" >
    insert into image
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="imageid != null" >
        imageid,
      </if>
      <if test="houseid != null" >
        houseid,
      </if>
      <if test="imagenamme != null" >
        imagenamme,
      </if>
      <if test="imageurl != null" >
        imageurl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="imageid != null" >
        #{imageid,jdbcType=INTEGER},
      </if>
      <if test="houseid != null" >
        #{houseid,jdbcType=INTEGER},
      </if>
      <if test="imagenamme != null" >
        #{imagenamme,jdbcType=VARCHAR},
      </if>
      <if test="imageurl != null" >
        #{imageurl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.china.entity.Image" >
    update image
    <set >
      <if test="houseid != null" >
        houseid = #{houseid,jdbcType=INTEGER},
      </if>
      <if test="imagenamme != null" >
        imagenamme = #{imagenamme,jdbcType=VARCHAR},
      </if>
      <if test="imageurl != null" >
        imageurl = #{imageurl,jdbcType=VARCHAR},
      </if>
    </set>
    where imageid = #{imageid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.china.entity.Image" >
    update image
    set houseid = #{houseid,jdbcType=INTEGER},
      imagenamme = #{imagenamme,jdbcType=VARCHAR},
      imageurl = #{imageurl,jdbcType=VARCHAR}
    where imageid = #{imageid,jdbcType=INTEGER}
  </update>
</mapper>